@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    
    box-sizing: border-box;
    background-color: #001219;
    color: #f6f6f6;
}

.cabecalho {
    padding: 2% 0 0 15%; 
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #838383;
    text-decoration: none;
}

.cabecalho__menu__link:hover {
    color: #22D4FD;
}

.rodape {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin-left: 50;
    font-size: 24px;
    background-color: #22D4FD;
    color: #000000;
    text-align: center;
    padding: 23.64px;
}


.imgPerfil {
    width: 150px; /* define um tamanho fixo mais controlado */
    border-radius: 10%;
}

.apresentacao {
    margin: 5% 0 5% 15%;
    display: flex;
    flex-direction: column;

}

.apresentacao__conteudo {
    display: flex;
    align-items: center;
    gap: 90px;
}

.nome__completo {
    font-size: 40px;
}